.controls input,
.controls textarea
{
    padding: 10px 16px;
}

.col-sm-6,
.col-sm-12
{
    padding: 2px;
}

.contact-display
{
    display: inherit;
}

.contact-title
{
    position: relative;
    top: 120px;
}

.contact-margin
{
    margin-top: 0;
}
