{% extends "../base.html" %}
{% block title %}
    {{ site.name }}
{% end %}
{% block scripts %}
    <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/detalle-producto.js"></script>
    <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/simple.tab.js" ></script>
{% end %}
{% block header %}
    {% include '../home/inside_header.html' %}
{% end %}
{% block body %}
    <!-- producto bt -->
    <div class="container-fluid-art hidden-xs">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/store">Tienda</a></li>
                <li class="active"><!-- art soap --></li>
            </ol>
        </div>
    </div>
    <div class="container-fluid-art product productlist">
        <div class="row visible-xs product-mobile">
            <div class="col-xs-12 text-center">
                <h2 class="product-title">{{ product["title"] }}</h2>
                <div class="product-price">
                    <span class="price">{{ product["price"] }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 ">
                <div class="col-sm-12">
                    <img src="{{ product["thumb_500"] }}" class="product-img img-responsive image" alt="item">
                    <img src="{{ product["thumb_500"] }}" class="product-img img-responsive image" alt="item">
                    <img src="{{ product["thumb_500"] }}" class="product-img img-responsive image" alt="item">
                </div>
            </div>
            <div class="col-sm-4 ">
                <h2 class="product-title hidden-xs">{{ product["title"] }}</h2>
                <div class="product-price hidden-xs">
                    <span class="price">{{ product["price"] }}</span>
                </div>
                <div class="product-detail">
                    <p>{{ product["description"] }}</p>
                </div>
                <button type="button" class="btn btn-right-1 add-to-cart">COMPRAR</button>
            </div>
        </div>
        <article>
            <header style="margin-top:40px;">
                <h1 style="text-align:left;"><a>
                    Relacionados
                </a></h1>
            </header>
        </article>

        {{ content }}

    </div>
    {% end %}